#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    #h2 {
        font-size: 20px;
    }

    #main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #i1 {
            height: 250px;
            width: 200px;
            margin-right: -35px;
            transform-style: preserve-3d;
            transform: perspective(200px) rotateY(30deg);
            z-index: -2;
        }

        #i2 {
            height: 250px;
            width: 200px;
            margin-right: -45px;
            transform-style: preserve-3d;
            transform: perspective(200px) rotateY(20deg);
            z-index: -1;
        }

        #i3 {
            height: 250px;
            width: 200px;
            z-index: 1;
        }

        #i4 {
            height: 250px;
            width: 200px;
            transform-style: preserve-3d;
            margin-left: -45px;
            transform: perspective(200px) rotateY(-20deg);
        }

        #i5 {
            height: 250px;
            width: 200px;
            margin-left: -35px;
            transform-style: preserve-3d;
            transform: perspective(200px) rotateY(-30deg);
            z-index: -1;
        }
    }
}    